 
 :root{
    --base-clr: #181922;
    --text-clr: #e6e6ef;
    --sidebar-clr: #202029;
}
 
 
*{
    margin: 0;
    padding: 0;
}
 
 
 body{
    min-height: 100vh;
    min-height: 100dvh;
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
    
}

.main-content{
   font-size: 1.1rem;
   background-color: var(--base-clr);
}

.container{
    line-height: 1.5em;
    padding: 1em;
    border: #e6e6ef 0.5px solid;
    border-radius: 1em;
    margin: 3em;
    max-width: 50%;
     
}


.sidebar{
    background-color: var(--sidebar-clr);
}

.sidebar ul{
    list-style: none;
}

.first-item{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

}

#toggle-btn{
    border-radius: 0.3em;
}